mixin copyAndPictureBox( title, subtitle, islist=true, list, istabs=false, tab1=null, tab1inf=null, tab2=null, tab2inf=null, tab3=null, tab3inf=null, tab4=null, tab4inf=null, tab5=null, tab5inf=null, tab6=null, tab6inf=null )
   ._c-copy-and-picture-color-box.accent-prepa&attributes(attributes)
      .o-container 
         ._c-copy-and-picture-color-box--grid
            ._c-copy-and-picture-color-box--textbox
               h2 #{ title }
               if subtitle
                  p #{ subtitle }
               if islist
                  !=list
               if istabs
                  ._c-copy-and-picture-color-box--acordeon-section.accordeon-init
                     if tab1
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab1}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab1inf}
                     if tab2
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab2}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab2inf}
                     if tab3
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab3}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab3inf}
                     if tab4
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab4}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab4inf}
                     if tab5
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab5}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab5inf}
                     if tab6
                        ._c-copy-and-picture-color-box--acordeon
                           ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                              h3 #{tab6}
                           ._c-copy-and-picture-color-box--acordeon-body
                              p #{tab6inf}

            ._c-copy-and-picture-color-box--img
               img(src="../../images/img-prepa-preview-2.jpg", srcset="../../images/img-prepa-preview-2.jpg", alt="Prepa")
