mixin certificationsAccordeons( title, imagen, istabs, tab1=null, tab1inf=null, tab2=null, tab2inf=null, tab3=null, tab3inf=null, tab4=null, tab4inf=null, tab5=null, tab5inf=null, tab6=null, tab6inf=null, islist, contenido, desc = null)
   ._c-certifications-accordeons&attributes(attributes)
      .o-container
         if !islist
            div(class= desc!=null ? "_c-certifications-accordeons--intro" : "")
               h2.text-center!=title
               if desc
                  p.text-center!=desc

         .o-grid-row._c-certifications-accordeons--grid

            .col.size-5._c-certifications-accordeons--img
               img(src="../images/" + imagen, srcset="../images/" + imagen, alt=title)
               
            if istabs
               .col.size-7._c-certifications-accordeons--list.accordeon-init
                  if tab1
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab1
                        ._c-certifications-accordeons--certificate-body
                           p!=tab1inf
                  if tab2
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab2
                        ._c-certifications-accordeons--certificate-body
                           p!=tab2inf
                  if tab3
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab3
                        ._c-certifications-accordeons--certificate-body
                           p!=tab3inf
                  if tab4
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab4
                        ._c-certifications-accordeons--certificate-body
                           p!=tab4inf
                  if tab5
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab5
                        ._c-certifications-accordeons--certificate-body
                           p!=tab5inf
                  if tab6
                     ._c-certifications-accordeons--certificate
                        ._c-certifications-accordeons--certificate-title.accordeon-btn
                           h3!=tab6
                        ._c-certifications-accordeons--certificate-body
                           p!=tab6inf
            if islist
               .col.size-7._c-certifications-accordeons--info
                  h2!=title 
                  ._c-certifications-accordeons--infocontent
                     !=contenido
mixin certificationsAccordeonsLarge( title, subtitle, codefortabs, codeforgallery )
   section._c-certifications-accordeons.accent-profeaso
      .o-container
         h2.text-center=title
         p.text-center!=subtitle
         .o-grid-row.row-start._c-certifications-accordeons--grid
            .col.size-8._c-certifications-accordeons--list.accordeon-init
               !=codefortabs

            .col.size-4._c-certifications-accordeons--gallery
               !=codeforgallery