mixin introProductoInfo4Items( isbig, bigtitle, bigtext, bigtext2, textouno, textodos, textotres, enlace, copyenlace, ico1, tit1, text1, ico3, tit3, text3, ico2, tit2, text2, ico4, tit4, text4, titulodequetrata = null )
   section._c-intro-producto&attributes(attributes)
      .o-container
         .o-grid-row.row-center
            if isbig == true
               .col.size-12
                  ._c-intro-producto--info
                     if bigtitle
                        h3 #{ bigtitle }
                     p #{ bigtext }
                     if bigtext2
                        p #{ bigtext2 }
                     if copyenlace
                        a.o-btn.btn-solid(href="#{enlace}") #{copyenlace}                     
            if isbig != true
               .col.size-6
                  ._c-intro-producto--info
                     if titulodequetrata
                        h3 #{ titulodequetrata }
                     p #{textouno}
                     p #{textodos}
                     p #{textotres}
                     if copyenlace
                        a.o-btn.btn-solid(href="#{enlace}") #{copyenlace}
            div(class=isbig==true ? "col size-12" : "col size-6")
               ._c-intro-producto--icons-boxes
                  if ico1
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/" + ico1, srcset="../images/" + ico1, alt=tit1)
                        ._c-intro-producto--text
                           h3 #{tit1}
                           p #{text1}
                  if ico2
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/" + ico2, srcset="../images/" + ico2, alt=tit2)
                        ._c-intro-producto--text
                           h3 #{tit2}
                           p #{text2}
                  if ico3
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/" + ico3, srcset="../images/" + ico3, alt=tit3)
                        ._c-intro-producto--text
                           h3 #{tit3}
                           p #{text3}
                  if ico4
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/" + ico4, srcset="../images/" + ico4, alt=tit4)
                        ._c-intro-producto--text
                           h3 #{tit4}
                           p #{text4}
