mixin sectionPlanEstudios( titulo, imgplan, boxcopy, box1, box1span, box2, box2span, box3, box3span, descarga, btncopy, textintro = null, textintro2 = null, linkrvoe=null )
   section._c-plan-de-estudios&attributes(attributes)
      .o-container
         h2.text-center.color-dark-green #{titulo}

         if textintro
            ._c-plan-de-estudios--intro
               .o-grid-row 
                  .col.size-12
                     p #{ textintro }
                     p #{ textintro2 }
                     a(href=linkrvoe) Consúltalo aquí

         ._c-plan-de-estudios--content
            .o-grid-row
               .col.size-9
                  img.img-responsive(src="../images/" + imgplan, srcset="../images/" + imgplan)
               .col.size-3._c-plan-de-estudios--percentageboxes
                  if boxcopy
                     ._c-plan-de-estudios--copy
                        p #{boxcopy}
                  if box1
                     ._c-plan-de-estudios--box
                        p #{box1}
                        span #{box1span}
                  if box2
                     ._c-plan-de-estudios--box
                        p #{box2}
                        span #{box2span}
                  if box3
                     ._c-plan-de-estudios--box
                        p #{box3}
                        span #{box3span}

            a.o-btn.btn-solid.bg-dark-green(href=descarga) #{btncopy}